$font-w-1: 700;
$font-w-s: 400;
$text-color-light: #0079ff;
$text-color-light: #697c9a;
$text-color-light: #4b6a9b;
$text-color-light: #2b3442;
$bagraunt-dark: #141d2f;
$bagraunt-ligt: #f6f8ff;
$bagraunt-dark-text: #1e2a47;
$text-color-dark: #ffffff;
$text-color-dark: #0079ff;
